#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=SoapUI 5.4.0
Exec=/bin/sh "/home/erik/SmartBear/SoapUI-5.4.0/bin/SoapUI-5.4.0" 
Icon=/home/erik/SmartBear/SoapUI-5.4.0/.install4j/SoapUI-5.4.0.png
